QUESTION 1:

In [1]:
import pandas as pd
import numpy as np

In [2]:
num_emp=10

In [3]:
emp_id=np.arange(1001, 1001+num_emp)
ages= np.random.randint(25, 60, size=num_emp)
salaries= np.random.randint(50000, 150000, size=num_emp)

In [4]:
departments=['Sales', 'Marketing','Engineering','HR','Finance']
names=['Harsh','Dhruv','Anurag','Sai','Rushil','Yash','Wasi','Jaskaran','Parth','Rajvardhan']

In [6]:
start_date=pd.to_datetime('2020-01-01')
end_date=pd.to_datetime('2023-12-31')
joining_dates = pd.to_datetime(np.random.randint(start_date.value, end_date.value, size=num_emp, dtype='int64'))

In [7]:
emp_data=pd.DataFrame({
    'EmpID':emp_id,
    'Name':names,
    'Age':ages,
    'Department': np.random.choice(departments, size=num_emp),
    'Salary': salaries,
    'JoiningDate': joining_dates
})

In [8]:
emp_data.head()

   EmpID    Name  Age Department  Salary                   JoiningDate
0   1001   Harsh   33      Sales   80395 2023-03-18 15:45:48.188888792
1   1002   Dhruv   50      Sales  135425 2021-07-02 00:34:17.187415279
2   1003  Anurag   50         HR  144571 2021-04-03 18:34:10.361070703
3   1004     Sai   42         HR   68604 2021-07-27 12:51:14.628603762
4   1005  Rushil   30    Finance  124369 2023-11-15 04:44:07.820277255

Question 2:

In [9]:
emp_data.info()
print(emp_data.shape)
emp_data.head()
emp_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmpID        10 non-null     int64
 1   Name         10 non-null     object
 2   Age          10 non-null     int64
 3   Department   10 non-null     object
 4   Salary       10 non-null     int64
 5   JoiningDate  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 608.0+ bytes
(10, 6)

EmpID          0
Name           0
Age            0
Department     0
Salary         0
JoiningDate    0
dtype: int64

Question 3:

In [12]:
filter_data=emp_data.query("Department=='Sales' and Salary>50000")
print(filter_data)

   EmpID   Name  Age Department  Salary                   JoiningDate
0   1001  Harsh   33      Sales   80395 2023-03-18 15:45:48.188888792
1   1002  Dhruv   50      Sales  135425 2021-07-02 00:34:17.187415279

Question 4:

In [13]:
dep_stats=emp_data.groupby('Department')[['Age','Salary']].mean()
print(dep_stats)

              Age         Salary
Department
Engineering  27.0  134802.000000
Finance      37.5  122218.000000
HR           46.0  106587.500000
Marketing    40.0   72543.666667
Sales        41.5  107910.000000

Question 5:

In [14]:
sort_data=emp_data.sort_values(by=['Salary'], ascending=False)
sort_data.head()

   EmpID        Name  Age   Department  Salary                   JoiningDate
2   1003      Anurag   50           HR  144571 2021-04-03 18:34:10.361070703
1   1002       Dhruv   50        Sales  135425 2021-07-02 00:34:17.187415279
6   1007        Wasi   27  Engineering  134802 2023-11-01 22:49:23.193052638
4   1005      Rushil   30      Finance  124369 2023-11-15 04:44:07.820277255
9   1010  Rajvardhan   45      Finance  120067 2022-09-23 12:56:14.539036054

Question 6:

In [16]:
emp_data.dropna(inplace=True)
emp_data['Age'].fillna(emp_data['Age'].mean(), inplace=True)
emp_data['Salary'].fillna(0, inplace=True)

<ipython-input-16-dd0ade20856d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  emp_data['Age'].fillna(emp_data['Age'].mean(), inplace=True)
<ipython-input-16-dd0ade20856d>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  emp_data['Salary'].fillna(0, inplace=True)

Question 7:

In [17]:
curr_date=pd.to_datetime('today')
emp_data['YearsInCompany']= (curr_date - emp_data['JoiningDate']).dt.days/365.25
emp_data.head()

,EmpID,Name,Age,Department,Salary,JoiningDate,YearsInCompany
0,1001,Harsh,33,Sales,80395,2023-03-18 15:45:48.188888792,1.828884
1,1002,Dhruv,50,Sales,135425,2021-07-02 00:34:17.187415279,3.540041
2,1003,Anurag,50,HR,144571,2021-04-03 18:34:10.361070703,3.783710
3,1004,Sai,42,HR,68604,2021-07-27 12:51:14.628603762,3.468857
4,1005,Rushil,30,Finance,124369,2023-11-15 04:44:07.820277255,1.169062

Question 8:

In [18]:
med_sal=emp_data['Salary'].median()
print(f"Median Salary: {med_sal}")

Median Salary: 108948.5

In [19]:
age=[20,30,40,50,60,70]
emp_data['AgeGroup']=pd.cut(emp_data['Age'],bins=age,labels=['20-29','30-39','40-49','50-59','60-69'])
age_dis=emp_data['AgeGroup'].value_counts()
print(age_dis)

AgeGroup
40-49    5
30-39    3
20-29    2
50-59    0
60-69    0
Name: count, dtype: int64

Question 9:

In [20]:
dep_count=emp_data.groupby('Department')['EmpID'].count().reset_index()
dep_count.columns=['Department','EmployeeCount']
print(dep_count)

    Department  EmployeeCount
0  Engineering              1
1      Finance              2
2           HR              2
3    Marketing              3
4        Sales              2

In [21]:
sal_thresh=75000
per_abv_thresh=(emp_data['Salary']>sal_thresh).sum()/len(emp_data)*100
print(f"Percentage of Employees with Salary Above {sal_thresh}: {per_abv_thresh:.2f}%")

Percentage of Employees with Salary Above 75000: 70.00%

Question 10:

In [22]:
emp_data.to_csv('emp_data.csv', index=False)

In [23]:
emp_data.to_excel('emp_data.xlsx', index=False)